<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Gaming</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/5297b1b7bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main-carrito">
        <h3 class="titulo-carrito">Mis Productos:</h3>
        <section class="productos-carrito">
            <article class="producto-carrito">
                <img src="/images/auriculares-hs70-corsair.png" class="producto-img-carrito">
                <h4 class="producto-titulo-carrito">Corsair HS70 PRO Black</h4>
                <p class="producto-precio-carrito">$30.000</p>
                <button class="producto-eliminar-carrito"><i class="fa-solid fa-trash" id="producto-eliminar-carrito"></i></button>
            </article>
            <article class="producto-carrito">
                <img src="/images/evga-3070.png" class="producto-img-carrito">
                <h4 class="producto-titulo-carrito">Nvidia GeForce RTX 3070 EVGA</h4>
                <p class="producto-precio-carrito">$150.000</p>
                <button class="producto-eliminar-carrito"><i class="fa-solid fa-trash" id="producto-eliminar-carrito"></i></button>
            </article>
        </section>
        <section class="total-carrito">
            <div class="precio-final-carrito">
                <h4 class="precio-final">Precio Final:</h4>
                <p class="precio">$180.000</p>
            </div>
            <button type="submit" class="finalizar-carrito">Finalizar Compra</button>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>