<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Gaming</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5297b1b7bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="logo"><h3 class="header-logo">Full Gaming</h3></div>
        <input type="text" placeholder="Buscador" class="buscador-header">
        <i class="fa-solid fa-magnifying-glass" id="lupa-header"></i>
        <ul class="lista-header">
            <li class="elemento-lista-header"><a href="https://web.whatsapp.com"><i class="fa-brands fa-whatsapp" id="logo-lista-header"></i></a></li>
            <li class="elemento-lista-header"><a href="https://www.instagram.com"><i class="fa-brands fa-instagram" id="logo-lista-header"></i></a></li>
            <li class="elemento-lista-header"><a href="https://www.facebook.com"><i class="fa-brands fa-facebook" id="logo-lista-header"></i></a></li>
        </ul>
        <ul class="lista-header">
            <li class="elemento-lista-header"><a href="#"><i class="fa-regular fa-user" id="logo-lista-header"></i></a></li>
            <li class="elemento-lista-header"><a href="#"><i class="fa-solid fa-cart-shopping" id="logo-lista-header"></i></i></a></li>
        </ul>
    </header>
    <main class="main">

    </main>
    <footer class="footer">

    </footer>
</body>
</html>