<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Gaming</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/5297b1b7bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <section class="header-top">
            <a href="/" class="logo"><h3 class="header-logo">Full Gaming</h3></a>
            <ul class="lista-header-1">
                <li class="elemento-lista-header-1" id="whatsapp"><a href="https://web.whatsapp.com"><i class="fa-brands fa-whatsapp" id="logo-lista-header"></i></a></li>
                <li class="elemento-lista-header-1"><a href="https://www.instagram.com"><i class="fa-brands fa-instagram" id="logo-lista-header"></i></a></li>
                <li class="elemento-lista-header-1"><a href="https://www.facebook.com"><i class="fa-brands fa-facebook" id="logo-lista-header"></i></a></li>
            </ul>
            <input type="text" placeholder="Buscador" class="buscador-header">
            <i class="fa-solid fa-magnifying-glass" id="lupa-header"></i>
            <ul class="lista-header-2">
                <li class="elemento-lista-header-2"><a href="login"><i class="fa-regular fa-user" id="logo-lista-header"></i></a></li>
                <li class="elemento-lista-header-2"><a href="carrito"><i class="fa-solid fa-cart-shopping" id="logo-lista-header"></i></i></a></li>
            </ul>
        </section>
        <section class="header-bottom">
            <ul class="objetos-header-bottom">
                <li class="objeto-header-bottom" id="componentes"><a href="componentes.html" class="a-header-bottom">Componentes</a>
                <ul class="submenu-header" id="#submenu-componentes">
                    <li class="submenu-header-item"><a href="procesadores.html">Procesadores</a></li>
                    <li class="submenu-header-item"><a href="ram.html">Memoria RAM</a></li>
                    <li class="submenu-header-item"><a href="motherboards.html">Motherboards</a></li>
                    <li class="submenu-header-item"><a href="placas-video.html">Placas de video</a></li>
                    <li class="submenu-header-item"><a href="ssd.html">Discos SSD</a></li>
                    <li class="submenu-header-item"><a href="hdd.html">Discos HDD</a></li>
                    <li class="submenu-header-item"><a href="gabinetes.html">Gabinetes</a></li>
                    <li class="submenu-header-item"><a href="coolers.html">Coolers</a></li>
                </ul>
                </li>
                <li class="objeto-header-bottom"><a href="perifericos.html" class="a-header-bottom">Perifericos</a>
                    <ul class="submenu-header">
                        <li class="submenu-header-item"><a href="teclados.html">Teclados</a></li>
                        <li class="submenu-header-item"><a href="mouses.html">Mouses</a></li>
                        <li class="submenu-header-item"><a href="auriculares.html">Auriculares</a></li>
                        <li class="submenu-header-item"><a href="mousepads.html">Mousepads</a></li>
                        <li class="submenu-header-item"><a href="sillas.html">Sillas Gamer</a></li>
                        <li class="submenu-header-item"><a href="joysticks.html">Joysticks</a></li>
                    </ul>
                </li>
                <li class="objeto-header-bottom"><a href="pc-armadas.html" class="a-header-bottom">PC Armadas</a></li>
                <li class="objeto-header-bottom"><a href="monitores.html" class="a-header-bottom">Monitores</a></li>
                <li class="objeto-header-bottom"><a href="productos.html" class="a-header-bottom">Todos los productos</a></li>
            </ul>
            <div class="hamburguesa-div"><i class="fa-solid fa-bars" id="menu-hamburguesa"></i></div>
        </section>
    </header>
    <main class="productos-main">
        <section class="producto">
            <img src="images/evga-3070.png" class="img-producto">
            <hr>
            <h3 class="titulo-producto">Nvidia GeForce RTX 3070 EVGA</h3>
            <p class="codigo-producto">Codigo del producto: P/N 3456-0934-KL</p>
            <h4 class="precio-titulo">Precio:</h4>
            <p class="precio-producto">$150.000</p>
            <button class="agregar-producto">Sumar al carrito</button>
            <hr>
            <h4 class="info-titulo">Informacion del producto:</h4>
            <p class="info-producto">Las EVGA GeForce RTX™ Serie 30 FTW3 diferencian a EVGA del resto de las opciones. Con el rango completo de la tecnología EVGA iCX3, LEDs ARGB, un ancho de 2.75 slots (Con bracket de 2 slots), 3 fans HDB asíncronos, y el sistema de alimentación más fuerte de la línea EVGA Serie 30 regular, estas gráficas marcan la nueva vara de rendimiento y refrigeración.</p>
            <h4 class="garantia-titulo">Garantia:</h4>
            <p class="garantia-info">Este producto cuenta con 2 años de garantia</p>
            <h4 class="envios-titulo">Envios:</h4>
            <p class="envios-info">Envios a todo el país</p>
        </section>
    </main>
    <footer class="footer">
        <section class="elementos-footer">
            <article class="elemento-footer">
                <i class="fa-solid fa-money-check-dollar" id="icon-footer-cash"></i>
                <h4 class="titulo-elemento-footer">Metodos de pago:</h4>
                <ul class="info-footer">
                    <li>-Transferencia Bancaria</li>
                    <li>-Efectivo en local</li>
                    <li>-Tarjetas de debito y credito con MercadoPago</li>
                    <li>-USD y Crypto en productos seleccionados</li>
                </ul>
            </article>
            <article class="elemento-footer">
                <i class="fa-solid fa-location-dot" id="icon-footer-location"></i>
                <h4 class="titulo-elemento-footer">Sucursales:</h4>
                <ul class="info-footer">
                    <li>-Av. Cabildo 873</li>
                    <li>-Av. Corrientes 1054</li>
                    <li>-Av. Callao 763</li>
                    <li>-Alto Palermo Local 302</li>
                </ul>
            </article>
            <article class="elemento-footer">
                <i class="fa-solid fa-rotate-left" id="icon-footer-return"></i>
                <h4 class="titulo-elemento-footer">Garantia y devoluciones:</h4>
                <ul class="info-footer">
                    <li>-Devolucion hasta 30 dias gratis</li>
                    <li>-Garantias hasta 6 meses con nosotros, despues con el fabricante</li>
                    <li>-Para devoluciones o garantias sacar turno en la pagina</li>
                    <li>-Las devoluciones y garantias se hacen en la sucursal de Corrientes</li>
                </ul>
            </article>
        </section>
        <h4 class="copyright">© Full Gaming 2023 - Todos los Derechos Reservados</h3>
    </footer>
</body>
</html>