<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Gaming</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/5297b1b7bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main-login">
        <h3 class="login-title">Crear Cuenta:</h3>
        <form action="login" method="POST">
            <input type="email" placeholder="Correo Electronico" class="input-button-login">
            <input type="email" placeholder="Confirmar Correo Electronico" class="input-button-login">
            <input type="password" placeholder="Contraseña" class="input-button-login">
            <input type="password" placeholder="Confirmar Contraseña" class="input-button-login">
            <button type="submit" class="input-button-login" id="login-button">Crear Cuenta</button>
            <a href="login"><button class="input-button-login" id="login-button">Iniciar Sesion</button></a>
        </form>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>