<section class="banner">
    <ul>
        <li>
            <img src="/images/banner-amd-radeon.png">
        </li>
        <li>
            <img src="/images/banner-corsair-elgato.png">
        </li>
        <li>
            <img src="/images/banner-monitor-asus.png">
        </li>
    </ul>
</section>