<footer class="footer">
    <section class="elementos-footer">
        <article class="elemento-footer">
            <i class="fa-solid fa-money-check-dollar" id="icon-footer-cash"></i>
            <h4 class="titulo-elemento-footer">Metodos de pago:</h4>
            <ul class="info-footer">
                <li>-Transferencia Bancaria</li>
                <li>-Efectivo en local</li>
                <li>-Tarjetas de debito y credito con MercadoPago</li>
                <li>-USD y Crypto en productos seleccionados</li>
            </ul>
        </article>
        <article class="elemento-footer">
            <i class="fa-solid fa-location-dot" id="icon-footer-location"></i>
            <h4 class="titulo-elemento-footer">Sucursales:</h4>
            <ul class="info-footer">
                <li>-Av. Cabildo 873</li>
                <li>-Av. Corrientes 1054</li>
                <li>-Av. Callao 763</li>
                <li>-Alto Palermo Local 302</li>
            </ul>
        </article>
        <article class="elemento-footer">
            <i class="fa-solid fa-rotate-left" id="icon-footer-return"></i>
            <h4 class="titulo-elemento-footer">Garantia y devoluciones:</h4>
            <ul class="info-footer">
                <li>-Devolucion hasta 30 dias gratis</li>
                <li>-Garantias hasta 6 meses con nosotros, despues con el fabricante</li>
                <li>-Para devoluciones o garantias sacar turno en la pagina</li>
                <li>-Las devoluciones y garantias se hacen en la sucursal de Corrientes</li>
            </ul>
        </article>
    </section>
    <h4 class="copyright">© Full Gaming 2023 - Todos los Derechos Reservados</h3>
</footer>